<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludeCPlusPlus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeFSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdParty_OtherCleaningCommandsExpression" serializeAs="String">
                <value>ReSharper.ReSharper_SilentCleanupCode</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEndRegionTags"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterRegionTags"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveAndSortUsingStatements"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioFormatDocumentCommand"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_DiagnosticsMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateSingleLineMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXAML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_SortLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_ReorganizeActiveCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CommentFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_RemoveRegion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_JoinLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_SwitchFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeMethods"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeDelegates"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeInterfaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeStructs"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEnumerations"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeClasses"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEndRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeNamespaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeUsingStatementBlocks"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeCaseStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterUsingStatementBlocks"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterNamespaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterDelegates"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEnumerations"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterClasses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterStructs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterInterfaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_IconSet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>1</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>